<div id="fb-root"></div>
<!-- Facebook script -->
<script>
	( function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=487098041343335";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk')); 
</script>
<!-- Facebook script close -->
<div class="fb-send" data-href="<%= jobpath %>" data-colorscheme="light" data-font="verdana"></div>
<!-- Twitter script -->
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:3000" data-count="none">Tweet</a>

<script>
	! function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
		if (!d.getElementById(id)) {
			js = d.createElement(s);
			js.id = id;
			js.src = p + '://platform.twitter.com/widgets.js';
			fjs.parentNode.insertBefore(js, fjs);
		}
	}(document, 'script', 'twitter-wjs'); 
</script>
<!-- Twitter script end -->
<!-- LinkedIn script -->
<script src="//platform.linkedin.com/in.js" type="text/javascript">lang:en_US</script>
<script type="IN/Share" data-url="<%= jobpath %>"></script>
<!-- LinkedIn script end -->