<p>
	Candidate Details
</p>
<!-- This is to displya the resume file of candidate -->
<iframe src="http://docs.google.com/viewer?url=http://blog.unsri.ac.id/userfiles/26156855-Cloud-Computing.doc&embedded=true" width="600" height="580" style="border: none;"></iframe>