<div class="contentBg">
	<div class="container">
		<div class="content">
			<div class="contentSection">
				<h3>Profile Settings</h3>
				<div class="upArrow"></div>
				<div class="profileSetIcon"></div>
			</div>
			<%= render :partial =>"profile", :locals => {:recruiter => @recruiter} %>
		</div>
	</div>
</div>